<div class="select" id="select">
    <input type="text" hidden data-input>

    <div class="select__trigger" data-trigger>
        <div data-current>Select some option</div>
        <i class="select__icon">></i>
    </div>

    <div class="select__content" data-content>
        <div class="select__option" data-option data-value="1">Option 1</div>
        <div class="select__option" data-option data-value="2">Option 2</div>
        <div class="select__option" data-option data-value="3">Option 3</div>
    </div>
</div>
