<div class="tabs" id="tabs">
    <div class="tabs__nav" data-nav>
        <a class="tabs__nav-item" data-nav-to=".tabs__pane:nth-child(1)">Tab 1</a>
        <a class="tabs__nav-item" data-nav-to=".tabs__pane:nth-child(2)">Tab 2</a>
        <a class="tabs__nav-item" data-nav-to=".tabs__pane:nth-child(3)">Tab 3</a>
    </div>

    <div class="tabs__content">
        <div class="tabs__pane">
            Tab content 1
        </div>
        <div class="tabs__pane">
            Tab content 2
        </div>
        <div class="tabs__pane">
            Tab content 3
        </div>
    </div>
</div>
