.tabs__nav {
  display: flex;
  position: relative;
  z-index: 1;
}

.tabs__nav-item {
  padding: 0;
  color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.tabs__pane {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}

.tabs__pane.active {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
}
